#root {
  display: flex;
  justify-content: center; /* fixed lowercase */
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://raw.githubusercontent.com/ptilop-sys/mediconnect/main/src/assets/icons/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
}

nav {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
